/* Begin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #358b9c80;

}
.notation {
    text-align: center;
    margin-top: 1rem;
    font-size: 36px;

}
.input-field {
    display: flex;
    font-size: 32px;
    width: 70rem;
    height: 25rem;
    margin: 2rem auto;
    background-color: #9adee3c4;

    
}

.buttons-container {
    background-color: #614d4d80;
    padding: .5rem;
    border-radius: 4px;
    width: 90rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #9d9b9baf;
    justify-content: center;
    margin: 0 auto;
   
}

button {
    font-size: 30px;
    height: 6rem;
    justify-content: space-evenly;
    vertical-align: top;
    margin: 1px;
    background-color: #1a0b41;
    min-width: 6rem;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: border-radius .5s;
    
}